body{
    color: silver;
    background-color: black;
    font-family: Verdana;
    a{
        color: yellow;
    }
    figcaption{
        font-size: 10px;
    }
}
img{
    height: 250px;
    width: 300px;
}
#home:hover {
    filter: grayscale(100%);
    transform: rotate(360deg);
}
#home{
    transition: transform 2s;
}
#guide:hover {
    height: 600px;
    width: 660px;
    filter: brightness(75%);
    filter: sepia(20%)
}
#guide {
    transition: height 2s, width 2s;
}
#playtime:hover {
    height: 250px;
    width: 750px;
    filter: saturate(75%)
}
#playtime{
    transition: height 2s, width 2s, saturate 2s;
}